body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.checkout-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.left-column, .right-column {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 0;
}

.payment-methods label {
    display: inline-block;
    margin-right: 10px;
}

.card-details input {
    width: calc(50% - 10px);
    display: inline-block;
}

#cart-items {
    margin: 10px 0;
}

.item-summary {
    width: 100%;
}

.item-summary h2 {
    margin: 0 0 10px 0;
}

.summary {
    margin: 20px 0;
}

.summary div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
